@model Loginuser
<h4 class="mb-3">Login</h4>
<form asp-action="Login" asp-controller="Home" method="post">
<div class="mb-3" >
    <div><span asp-validation-for="LogEmail" class="text-danger small"></span></div>
    <label asp-for="LogEmail" class=" col-form-label "></label>
    <input type="email" class="form-control form-control-sm" id="colFormLabel"  asp-for="LogEmail" placeholder="you@example.com">
</div>
<div class="mb-3">
    <div><span asp-validation-for="LogPassword" class="text-danger small"></span></div>
    <label asp-for="LogPassword" class=" col-form-label "></label>
    <input type="password" class="form-control form-control-sm" id="colFormLabel"  asp-for="LogPassword" placeholder="Password">
</div>
<br>
<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
</form>