<h1 class="text-center">Welcome to Wedding Planer!</h1>
<br><hr>

<div class="row">
    <div class="col-md-5 order-md-1">
        <partial name="RegisterPartial"/>
    </div>
    <div class="col-md-5 order-md-1">
        <partial name="LoginPartial"/>
    </div>
</div>